<div class="navbar navbar-light bg-light justify-content-sm-around">
    <div class="nav-item">
        Welcome, {{ name }}
    </div>
    <div class="nav-item">
        <button class="btn nav-link" routerLink="/student/view-exam">View exam</button>
    </div>
    <div class="nav-item">
        <button class="btn nav-link" routerLink="/student/profile">Student Profile</button>
    </div>
    <div class="nav-item">
        <button class="btn btn-danger" routerLink="/student/reset-password">Reset Password</button>
    </div>
    <div class="nav-item">
        <app-back></app-back>
    </div>
</div>