<div class="row justify-content-center">
    <div class="col-sm-6">
        <form (ngSubmit)="onSubmit(mysignup)" #mysignup="ngForm">
        <label for="email"><strong>Email</strong></label>
        <div>
            <input type="text" id="email" class="form-control" name="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" #email="ngModel" ngModel>
        </div>
        <div *ngIf="!email.valid && email.touched">
            <small class="text-danger">Enter valid email</small>
        </div>
        <label for="password"><strong>Password</strong></label>
        <div>
            <input type="password" id="password" class="form-control" name="password" required minlength="6" #password="ngModel" ngModel>
        </div>
        <div *ngIf="!password.valid && password.touched">
            <small class="text-danger">Please enter valid password</small>
        </div>
        <small><a routerLink="/users/signup">Don't have an Account? Register</a></small>
        <div>
            <button class="btn btn-outline-info col-sm-3 mt-2" type="submit" [disabled]="!mysignup.valid">Login</button>
        </div>
        </form>
    </div>
</div>