<p>user-login works!</p>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <label for="email"><strong>Email</strong></label>
        <div>
            <input type="text" name="" id="email" class="form-control">
        </div>
        <label for="password"><strong>Password</strong></label>
        <div>
            <input type="text" name="" id="password" class="form-control">
        </div>
        <label for=""><a routerLink="/users/user-signup">Don't have an Account? Register</a></label>
        <div>
            <button class="btn btn-info col-sm-3 mt-2">Login</button>
        </div>
    </div>
</div>