<app-dashboard></app-dashboard>
<div class="row justify-content-center" *ngIf="loadData">
    <div class="col-sm-1">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-sm-2">
        <div class="card" style="width: 20rem;" *ngIf="!loadData">
            <img src="/assets/student-pic.png">
            <div *ngFor="let s of studentArr">
                <div class="card-body" >
                    <h4 class="card-title text-success">{{ s.name }}</h4>
                </div>
                <div class="card-body text-primary" >
                    <p class="card-item" >{{ s.role }}</p>
                    <p class="card-item" >{{ s.email }}</p>
                    <p class="card-item" >{{ s._id }}</p>
                </div>
            </div>
        </div>
    </div>
</div>