<app-dashboard></app-dashboard>
<div class="row justify-content-center" *ngIf="loadData">
    <div class="col-sm-1">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
</div>
<div class="row justify-content-center" *ngIf="!loadData">
    <div class="col-sm-8">
        <div [ngStyle]="{'color':'blue'}">
            <h4>Total Exams :- {{ totalExam }}</h4>
        </div>
    </div>
</div>
<div class="row justify-content-center" *ngIf="!loadData">
    <div class="col-sm-8">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>S.No</th>
                    <th>Email</th>
                    <th>Notes</th>
                    <th>Subject Name</th>
                    <th>Id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of examArr; let i = index;">
                    <td>{{ i +1 }}</td>
                    <td> {{ data.email }} </td>
                    <td> {{ data.notes }} </td>
                    <td> {{ data.subjectName }} </td>
                    <td> {{ data._id }} </td>
                    <td>
                        <button class="btn btn-warning" (click)="viewExampaper(data._id)">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>