<app-dashboard></app-dashboard>
<div class="row justify-content-center" *ngIf="loadData">
    <div class="col-sm-1">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
</div>
<table class="table" *ngIf="!loadData">
    <thead class="table-dark">
        <tr>
            <th>Subject Name</th>
            <th>Notes</th>
            <th>Auther</th>
            <th>Id</th>
            <th>Show</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exam of examDetails">
            <td>{{ exam.subjectName }}</td>
            <td>{{ exam.notes }}</td>
            <td>{{ exam.email }}</td>
            <td>{{ exam._id }}</td>
            <td><button class="btn btn-success" (click)="viewExamDetails(exam._id)">Show</button></td>
            <td><button class="btn btn-danger" (click)="deleteExamDetails(exam._id)">Delete</button></td>
        </tr>
    </tbody>
</table>