<div class="navbar navbar-light bg-light justify-content-sm-around">
    <div class="nav-item">
       Welcome, {{ name }}
    </div>
    <div class="nav-item">
        <button class="btn nav-link active" aria-current="page" routerLink="/teacher/student-list">Student list</button>
    </div>
    <div class="nav-item">
        <button class="btn nav-link">View exam</button>
    </div>
    <div class="nav-item">
        <button class="btn nav-link">Create exam</button>
    </div>
    <div class="nav-item">
        <button class="btn nav-link">Create exam</button>
    </div>
</div>