<div class="navbar navbar-light bg-light justify-content-sm-around">
    <div class="nav-item">
       Welcome, {{ name }}
    </div>
    <div class="nav-item">
        <button class="btn nav-link active" aria-current="page" routerLink="/teacher/student-list">All Student list</button>
    </div>
    <div class="nav-item">
        <button class="btn nav-link" routerLink="/teacher/create-exam">Create exam</button>
    </div>
    <div class="nav-item">
        <button class="btn nav-link" routerLink="/teacher/view-exam">View exam</button>
    </div>
    <div class="nav-item">
        <div class="btn nav-link" routerLink="/teacher/verified-student">Verified Student</div>
    </div>
    <div class="nav-item">
        <button class="btn btn-warning">Reset Password</button>
    </div>
</div>