<div class="row justify-content-center">
    <div class="col-sm-5 mt-5">
        <button class="btn btn-sm btn-outline-secondary mt-5 mb-2 justify-content-end" (click)="password()">{{show ? 'Hide' : 'Show'}}</button>
        <form [formGroup]="changePasswordForm" >
            <input [type]="show ? 'text' : 'password'" formControlName="oldPassword" placeholder="Enter your Old password"
                class="form-control mb-2">
            <input [type]="show ? 'text' : 'password'" formControlName="newPassword" placeholder="Enter your New password"
                class="form-control mb-2">
            <input [type]="show ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm your password"
                class="form-control mb-2">
            <button (click)="changePassword()" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>