    <div class="row justify-content-center">
        <div class="col-sm-8">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Status</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of studentData; let i = 'index+1';">
                        <td>{{ i }}</td>
                        <td> {{ data.status }} </td>
                        <td> {{ data._id }} </td>
                        <td> {{ data.name }} </td>
                        <td> {{ data.email }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>