<app-dashboard></app-dashboard>
<div class="row justify-content-center">
    <div class="col-sm-8 table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>S.No</th>
                    <th>Status</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of studentData; let i = index;">
                    <td>{{ i +1 }}</td>
                    <td> {{ data.status }} </td>
                    <td> {{ data._id }} </td>
                    <td> {{ data.name }} </td>
                    <td> {{ data.email }} </td>
                    <td>
                        <button type="button" class="btn btn-outline-dark" (click)="viewStudentDetails(data._id)">Show
                            Info</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>