<div class="row justify-content-end">
    <div class="col-sm-1 mt-2">
        <button class="btn-close d-flex justify-content-end" (click)="close()"></button>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-8">
        <div [ngStyle]="{'color':'blue'}">
            <h4>Total Question :- {{ totalQuestion }}</h4>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-5 me-5">
    <div class="col-sm-8">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Q.No</th>
                    <th>Id</th>
                    <th>Question</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of examArr; let i = index;">
                    <td>{{ i +1 }}</td>
                    <td> {{ data._id }} </td>
                    <td> {{ data.question }} </td>
                    <td> {{ data.options }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>